In [1]:
# What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [1]:
# Create list first and gave them values.

In [2]:
data_science_teachers = ["Krish","Sudhanshu Kumar","Dr. Ayan Debnath","Subhodeep Dey","Rishab Malhotra"]
# No. of data science teachers
print(len(data_science_teachers))
# print the name of teachers
print(data_science_teachers)

5
['Krish', 'Sudhanshu Kumar', 'Dr. Ayan Debnath', 'Subhodeep Dey', 'Rishab Malhotra']

In [3]:
# chnnge sudhanshu kumar into new teacher (take it easy tester) 
# we try to replace the value from list

In [4]:
data_science_teachers[1] = "New Teacher" # who is test my all codes

In [6]:
print(data_science_teachers)

['Krish', 'New Teacher', 'Dr. Ayan Debnath', 'Subhodeep Dey', 'Rishab Malhotra']

In [7]:
# replacing the value from the list (index from the list) it can happen it's called mutable data ! That can be changed it called

In [8]:
# let's try a new data we try change the index in string

In [9]:
new = "New Teacher"
print(new)

New Teacher

In [10]:
# let find the index and try to replace it in new teacher string.
new[2]

'w'

In [11]:
new[2] = '0'
new[2]

TypeError: 'str' object does not support item assignment

In [12]:
# Here we find immutable data type : 'str' object does not support item assignment
# immutable data type which is not replaced by their index in string but in list we can replace the itme from index.
# At the end anyone can't replace sudhanshu kumar Sir !!!!